html{
    font-size: 62.5%;
    background-color: antiquewhite;
}

body {
 
}

/*
img {
    max-width: 8rem;
    max-height: 8rem;
    display: inline;
}*/
h1{
    text-align:left;
}

h2{
    text-align: center;
}

img{
    display: inline;
}

.hed{
    padding-top: 15px;
    padding-bottom: 10px;
}

.parrafo{
    display: inline;
}
.parrafo >p{
    display: inline;
}


h1{
    font-family: 'Times New Roman', Times, serif;
    display: inline;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    margin-left: 20px;
}

span{
    font-size: 2rem;
}
.hed{
   
    width: 100rem;
    margin-left: auto;
    margin-right: auto;
}
.dv{
   padding-left: 2rem;
   padding-right: 2rem;
    width: 100rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    background-color: #336666 ;
    border:0.5rem solid #3366;
    margin-bottom: 15px;
}

.foto{
    padding-left : 40rem;
}

.menu{
    background-color: rgb(125, 125, 182);
    
}

.navegador{
   
    margin: 0 auto;

}

.nave{
padding: 1rem;
display: flex;
justify-content: space-evenly;
}

.nave a{
    color: white;
text-decoration: none;
font-size: 1.5rem;
}



p, li, ul, td{
    font-size: 1.8rem;
}

.portafolio{
  height: 800px;
}
footer{
    text-align: center;
    background-color: rgb(125, 125, 182);
    padding-top: 15px;
}

footer p{
    margin-bottom: 0;
}

